.login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-outterbox{
    width:30%;
}
.login-upperbox{
    padding: 10%;
    width: 82%;
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: .5vw;
}
.login-fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-example-full-width{
    width: 100%;
}
.login-submit{
    display: flex;
    justify-content: space-between;
}
.login-lowerbox{
    display: flex;
    justify-content: space-between;
}

#login-cars {
    width: 100%; /* Adjust width as needed */
    height: 130%; /* Adjust height as needed */
    padding: 5px 10px; /* Inner spacing */
    border: none; /* Removes border */
    border-radius: 8px; /* Optional: Rounded corners */
    // background-color: #f1f1f1; /* Light background */
    font-size: 16px; /* Adjust font size */
    outline: none; /* Removes focus outline */
    // appearance: none; /* Removes default browser styling */
    // -webkit-appearance: none; /* For Safari */
    // -moz-appearance: none; /* For Firefox */
  }
  
//   select:focus {
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adds a subtle focus shadow */
//   }

.login-help{
    width: 30%;
    // background-color: pink;
    display: flex;
    justify-content: space-between;
}