<div class="sidenav">
    <button class="sidenav-button" [ngClass]="{'active': activeButton === 'notes'}"
        (click)="onButtonClick('notes', '/dashboard/displayallnotes')">
        <button mat-icon-button aria-label="Notes">
            <mat-icon svgIcon="note-icon"></mat-icon>
        </button>
        <div>Notes</div>
    </button>

    <button class="sidenav-button" [ngClass]="{'active': activeButton === 'reminders'}">
        <button mat-icon-button aria-label="Reminders">
            <mat-icon svgIcon="reminder-icon"></mat-icon>
        </button>
        <div>Reminders</div>
    </button>

    <button class="sidenav-button" [ngClass]="{'active': activeButton === 'Reminder'}">
        <button mat-icon-button aria-label="Reminder button" matTooltip="Reminder">
            <mat-icon svgIcon="edit-icon"></mat-icon>
        </button>
        <div>Edit labels</div>
    </button>

    <button class="sidenav-button" [ngClass]="{'active': activeButton === 'archive'}"
        (click)="onButtonClick('archive', '/dashboard/archive')">
        <button mat-icon-button aria-label="Archive">
            <mat-icon svgIcon="archive-icon"></mat-icon>
        </button>
        <div>Archive</div>
    </button>

    <button class="sidenav-button" [ngClass]="{'active': activeButton === 'trash'}"
        (click)="onButtonClick('trash', '/dashboard/trash')">
        <button mat-icon-button aria-label="Trash">
            <mat-icon svgIcon="trash-icon"></mat-icon>
        </button>
        <div>Trash</div>
    </button>
</div>